.about-page {

    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url(../../images/about-hero.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.about-container-content {
    text-align: center;
    color: white;
    padding: 20px;

    z-index: 2;
    position: relative;
}

.about-container-content h2 {
    font-size: 2.3rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.about-container-content p {
    font-size: 1.3rem;
    max-width: 800px;
    color: white;
    margin: 0 auto;
}


.about-content {
    display: flex;
    flex-direction: column;
}

.content-text {
    max-width: 900px;
    margin: 0 auto 40px;
    line-height: 1.8;
    font-size: 16px;
    text-align: justify;
}

.image-collage {
    display: flex;
    gap: 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
}

.main-image {
    flex: 3;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.side-images {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-image {
    width: 100%;
    height: calc(50% - 5.5px);
    object-fit: cover;
    display: block;

}

@media (max-width: 768px) {

    .image-collage {
        flex-direction: column;
    }

    .main-image,
    .side-images {
        width: 100%;
    }

    .side-image {
        height: 200px;
    }
}