.facilities-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.facilities-container {
    text-align: center;
    margin-bottom: 60px;
}

.facilities-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.facility-card {
    margin-bottom: 100px;
    position: relative;

}

.left-card {
    margin-right: 0%;
}

.right-card {
    margin-left: 0%;
}

.center-card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    padding: 20px;

    text-align: center;
}

.card-header h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 5px;
}

.card-content {
    display: flex;

    gap: 40px;
    align-items: flex-start;
}

.card-content .reverse {
    flex-direction: row-reverse;
}

.image-collage {
    display: flex;
    width: 48%;
    gap: 10px;
    height: 360px;
    overflow: hidden;
}

.image-collage>div {
    flex: 1;
    height: 100%;
}

.content-side {
    display: flex;
    flex-direction: column;

    flex: 1;
    gap: 10px;
}

.large-image-container {
    width: 100%;
    overflow: hidden;
    height: 350px;
    flex: 2;
}

.large-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.small-images {
    height: 50%;
}

.small-images img {

    height: 100%;
    object-fit: cover;
    width: 100%;

}

.text-content {
    width: 50%;
    padding: 0;
}

.card-description {
    flex: 1;
    padding: 30px;

}

.card-description p {
    text-align: justify;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

.cafe-card {
    width: 100%;
    max-width: 100%;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
}


.slider-container {
    position: relative;
    width: 100%;
    height: 500px;
}


.static-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    width: 70%;
    max-height: 80%;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.static-content .card-header h2 {
    text-align: center;
}

.static-content .card-description p {
    text-align: justify;
}

.cafe-slider {
    width: 100%;
    height: 100%;
}

.slider-image-container {
    width: 100%;
    height: 100%;
}

.slider-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}