.contact-page {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-container {
    max-width: 800px;
    text-align: center;
}

.contact-container h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

.contact-container p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.container-content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 300px;
}

.contact-info .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contact-info .icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}

.contact-info .text h3 {
    font-size: 20px;
    font-weight: 500;
}

.contact-form {
    width: 55%;
    padding: 20px;
    flex: 1;
    min-width: 300px;

}

.contact-form h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;

}

.form-group {
    position: relative;
    width: 10%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #333;
    background-color: transparent;
    font-size: 16px;
    resize: none;
    outline: none;
}

button[type="submit"] {
    background-color: #b87e44;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button[type="submit"]:hover {
    background-color: #eaab7e;
}

p {
    color: black;
    text-align: center;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .container-content {
        flex-direction: column;
        /* Stack items vertically */
        align-items: center;
        /* Center items */
        gap: 30px;
        /* Add more space between sections */
        text-align: center;
        /* Center-align text */
        padding-bottom: 20px
    }
}