.navbar-container {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    padding: 0 8%;
    position: fixed;
    top: 0;
    z-index: 99;
}

.navbar-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.navbarScroll {
    background-color: rgba(131, 131, 131, 0.6);
    backdrop-filter: blur(12px);
}

.navbar-container .active {
    color: #94511d;

}

.navbar-container .logo {
    width: 24%;
    height: auto;
    margin-left: 5px;
}

.logo-img {
    width: 60%;
    height: auto;
}

.navbar-container li {
    cursor: pointer;
}

.navbar-container ul {
    display: inline-block;
    margin: 0 18px;
    position: relative;
}

.navbar-container ul li {
    display: inline-block;
    margin: 0 18px;
    position: relative;
}

.navbar-container ul li a:hover {
    color: #94511d;
}

.navbar-container ul li::after {
    position: absolute;
    top: 10px;
    left: -10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transition: .2s;
    transform: translateX(-50%);
    background-color: #fff;
}

.navbar-container ul li a {
    margin: 0 15px;
    font-weight: 500;
    font-size: 15px;
    font-family: 'poppins';
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar-container ul li a :hover {

    color: #94511d;
}

.nav-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

#bar-icon {
    border: none;
    background-color: #94511d;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #fff;
    box-shadow: 2px 2px 3px #ffffff94, inset 3px 3px 10px #ffffff94;
    cursor: pointer;
    transition: 1s;
    display: none;

}

.bar-icon:hover {
    box-shadow: 0px 0px 0px #ffffff94, inset 3px 3px 10px #ffffff94;
    transform: scale(0.9);
}

@media screen and (max-width: 1200px) {

    .navbar-container {
        padding: 0 5%;
    }

    #bar-icon {
        display: flex;
    }

    .logo {
        margin-bottom: 10px;
    }

    .navbar-container ul {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 1);
        backdrop-filter: blur(8px);
        border-bottom: 1px solid #fff;
        transition: .6s;
    }

    .navbar-container ul li::after {
        left: 10%;
        top: 35px;
    }

    .navbar-container .active {
        left: 0;
    }


    .navbar-container ul li {
        display: block;
        margin: 5px 0;
        padding: 25px 0;
        padding-left: 15%;
        border-bottom: rgba(131, 131, 131, 0.4);
    }

    .navbar-container ul li:last-child {
        border: none;
    }

}